table th 
{
	margin: 0;
	padding: 0;
	border: 1px solid black;
	text-align: center;
}

table td
{
	margin: 0;
	padding: 0;
	border: 1px solid black;
	text-align: center;
}

table
{
	border-collapse: collapse;
	width: 100%;

}

textarea
{
	resize: vertical; 	
	width: 99%;
} 

#groupTable
{
	word-break: break-all;
}

#table1-1 td 
{	
	width: 20%;
}

#table1-2 td 
{
	width: 14.28%;
}

#table1-3 td 
{
	width: 20%;
}

.table1-4 td
{
	width: 11.11%;
}

.firstColumn1
{
	text-align: left !important;
	width: 40% !important;
}

.row p
{	
	text-align: center;
}

.row a
{
	margin: 0;
}

.rotate
{
	-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

td
{
	vertical-align: middle;
}

p
{
	margin: 0;
}
